@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can keep the custom scrollbar hiding class here since we use it in the UI */
@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}